{% extends 'main_menu.html' %}

{% load static %}

{% block title %}
Contact Us
{% endblock %}

{% block info %}

<!-- container start -->
<div class="jumbotron jumbotron-fluid">
    
    <!-- Address start -->
    <div class="card border-primary mb-3 m-4" style="max-width: 18rem;">
        <div class="card-header">Address</div>
        <div class="card-body text-primary">
            <p class="card-text">11-14 Mewar Motors link Road,<br>
            Udiapol, Udaipur, <br>
            Rajasthan 313001, India.</p>
        </div>
    </div>
    <!-- Address end -->

    <!-- Contact details start -->
    <div class="card border-primary mb-3 m-4" style="max-width: 18rem;">
        <div class="card-header">Contact Number</div>
        <div class="card-body text-primary">
            <p class="card-text">
                +91-294-242-7403 <br>
                +91-294-242-1119 <br>
                +91-946-082-3525 <br>
            </p>
        </div>
    </div>
    <!-- contact details end -->

    <!-- Working Hours start -->
    <div class="card border-primary mb-3 m-4" style="max-width: 18rem;">
        <div class="card-header">Working Hours</div>
        <div class="card-body text-primary">
            <p class="card-text">
                Monday: <br>
                Tuesday: <br>
                Wednesday: <br>
                Thursday: <br>
                Friday: <br>
                Saturday: <br>
                Sunday: Closed <br>
            </p>
        </div>
    </div>
    <!-- Working Hours end -->
</div>
<!-- container end -->

<!-- todo Google map api html start -->
<map>
<h1 style="padding-left: 0.5rem;">Map</h1>
<!-- <h5>Activate google map div and deactive me to see the map.</h5> -->
<div id="map"></div>
</map>
<!-- Google map api html end -->

<br><br><br><br><b></br><br><br><br><br><b></br><br><br><br><br><b></br><br><br><br><br><b></br><br><br><br><br><b></br><br><br><br><br><b></br><br><br><br><br><b></br><br><br><br><br><b></br><br><br><br><br><b></br><br><br><br><br><b></br><br><br><br><br><b></br><br><br><br><br><b></br><br><br><br><br><b></br><br><br><br><br><b></br>
{% endblock %}