{% extends 'main_menu.html' %}
{% load static %}

{% block title %}
Wash Basin Detail
{% endblock %}

{% block info %}
<!--Main layout-->
<main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">

        <!--Grid row-->
        <div class="row wow fadeIn">

            <!--Grid column-->
            <div class="col-md-6 mb-4">

            <!-- <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/14.jpg" class="img-fluid" alt=""> -->
            <img src="{% static 'images/download10.jfif' %}" class="img-fluid" alt="Image coming soon" style="height: 28rem;">

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-6 mb-4">

            <!--Content-->
            <div class="p-4">

                <div class="mb-3">
                <a href="">
                    <span class="badge badge-info mr-1">Category 2</span>
                </a>
                <a href="">
                    <span class="badge badge-danger mr-1">New</span>
                </a>
                <a href="">
                    <span class="badge badge-primary mr-1">Bestseller</span>
                </a>
                </div>

                <h2>Item_name</h2>
                <h4>Brand_name</h4>

                <p class="lead"><h5> Price </h5>
                <span class="mr-1"><strong> Original Price:</strong> 
                    <del>₹200</del><br>
                </span>
                <span><strong> Discounted Price:</strong> ₹100</span><br>
                </p>

                <p><strong> Color:</strong> White</p>
                <p><strong> Size:</strong> 34 cm x 42 cm</p>

                <p class="lead font-weight-bold">Description</p>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et dolor suscipit libero eos atque quia ipsa
                sint voluptatibus!
                Beatae sit assumenda asperiores iure at maxime atque repellendus maiores quia sapiente.</p>

            </div>
            <!--Content-->

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

        <hr>

        <!--Grid row-->
        <div class="row d-flex justify-content-center wow fadeIn">

            <!--Grid column-->
            <div class="col-md-6 text-center">

            <h4 class="my-4 h4">Additional information</h4>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus suscipit modi sapiente illo soluta odit
                voluptates,
                quibusdam officia. Neque quibusdam quas a quis porro? Molestias illo neque eum in laborum.</p>

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

        <!--Grid row-->
        <div class="row wow fadeIn">

            <!--Grid column-->
            <div class="col-lg-4 col-md-12 mb-4">

            <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/11.jpg" class="img-fluid" alt="">

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-4">

            <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/12.jpg" class="img-fluid" alt="">

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-4">

            <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/13.jpg" class="img-fluid" alt="">

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

    </div>
</main>
<!--Main layout-->
{% endblock %}